<section>
    <div class="img-bg">
        <img src="https://img.freepik.com/premium-vector/forgot-password-illustration_65141-418.jpg"  alt="Hình Ảnh Minh Họa">
    </div>
    <div class="noi-dung">
        <div class="form">
            <h2>Forgot password </h2>
            <form action="">
                
                <span>Email Address</span>
                <br>
                <br>
                <div class="input-form">
                    <input type="text" placeholder="Email">
                  </div>
              
                <div class="input-form">
                    <input type="submit" value="Log in">
                </div>
                <div class="input-form">
                    <p>Do you have an account?  <a routerLink="login">Login</a></p>
                </div>
            </form>
     
        </div>
    </div>
</section>
<br>
<br>
<br>