
<section>

    <div class="img-bg">
        <img src= img src="https://raw.githubusercontent.com/bedimcode/responsive-login-form/eafbae66248bc27a0b1e26e2a5ddd2ad0d01956b/assets/img/authentication.svg" >
    </div>
    <div class="noi-dung">
        <div class="form">
            <h2>Login </h2>
            <form [formGroup]="loginForm">
                <div class="input-form" [class.error]="loginForm.controls['username'].dirty && loginForm.controls['username'].touched  && loginForm.hasError('required','username')">
                    <span>Username</span>
                    <input  formControlName="username" type="text" name="" required="" placeholder="Username">
                    <small *ngIf="loginForm.controls['username'].dirty && loginForm.controls['username'].touched && loginForm.hasError('required','username')" class="text-danger">Username is required </small>
                </div>
                <div class="input-form" [class.error]="loginForm.controls['password'].dirty && loginForm.controls['password'].touched  && loginForm.hasError('required','password')">
                    <span>Password</span>
                    <input  formControlName="password" type="password" id="password" name="" required="" placeholder="password">
                    <small *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].touched && loginForm.hasError('required','password')" class="text-danger">Password is required </small>

                
                </div>
                <div class="nho-dang-nhap">
                    <label><input type="checkbox" name=""> Remember me</label>
                </div>
                <div class="input-form">
                    <input  (click)="onLogin()" type="submit" value="Log in">
                </div>
                <div class="input-form">
                    <p>Do you forgot your password?  <a routerLink="forgotpwd">Forgot password !</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

